body {
    font-family: 'Oxygen', sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

#header {
    background-color: #fbf9f9;
    color: #000; 
    padding: 0 10px 0 0;
    text-align: center;
}

.wrapper {
    padding: 10px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.logo-name {
    display: flex;
    align-items: center;
    justify-content: center; 
    padding: 10px;
}

.logo {
    margin-right: 25px;
}

.text {
    display: flex;
    flex-direction: column;
}

h1 {
    font-size: 32px;
    margin: 0;
}

.subtitle {
    font-size: 16px;
    margin: 0;
}

.navbar-custom {
    background-color: #444;
    margin-bottom: 0px;
    color: #fff;
}

.navbar-nav li a {
    color: #fff;
    font-weight: bold;
}

.container {
    padding: 20px;
}

.containerimg {
    width: 100%;
}

.containerimg img {
    width: 100%;
    padding: 10px;
    height: auto;
}

.name h1 {
    font-size: 60px;
}

.name p {
    margin-top: 10px;
}

.name a {
    text-decoration: none;
}

.logo1 {
    height: 100px;
}

@media (max-width: 1000px) {
    .name h1 {
        font-size: 40px;
    }
}

@media (max-width: 768px) {
    .name h1 {
        font-size: 40px;
    }

    .logo1 {
        height: 95px;
    }

    .logo-name {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center; 
        padding-top: 10px; 
    }

    .wrapper {
        padding-top: 10px; 
    }
}

@media (max-width: 550px) {
    .name h1 {
        font-size: 30px;
    }
    .name p {
        font-size: 12px;
    }
    .logo1 {
        height: 85px;
    }

    .logo-name {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center; 
        padding-top: 10px; 
    }

    .wrapper , .logo-name{
        padding-top: 5px; 
    }
}
